@import url('https://fonts.googleapis.com/css?family=Cookie|Great+Vibes|Lobster|Pathway+Gothic+One|Yanone+Kaffeesatz');
.wrapper{
    height: 960px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    background-image:url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
}
.head{
    height: 100px;
    grid-column: 2/3;
}
.head h1{
    font-family: 'Lobster', cursive;
    color: #58D68D  ;
    font-size: 40pt;
}
.head span{
    color: #F5B041  ;
}
.head h4{
    font-family: 'Cookie', cursive;
    color: white;
    font-size: 20pt;
}
.head h3{
    font-family: 'Pathway Gothic One', sans-serif;
}
.head button{
    padding: 0.5em 1em;
    width: 50%;
    border: none;
    border-radius: 5px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    background: #58D68D;
}
.head button:hover{
    background: #F5B041 ;
    color: white;
}